header {
    grid-area: header;
}

header .menu {
    transition: all 1s ease;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    padding: 10px 0px;
}

.menu-scroll {
    transition: all 1s ease;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    padding: 10px 0px;
    background-color: rgba(0,0,0,.9);
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

.logo {
    height: 100px;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
}

.toogle {
    display: none;
}

.barra > a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

.barra a:hover {
    color: rgb(106, 206, 252);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.icons a {
    padding: 10px;
}

.icons i {
    color: #fff;
}

.icons i:hover {
    color: rgb(106, 206, 252);
}

.back img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 520px;
    overflow: hidden;
    z-index: -100;
    
}

.info {
    display: flex;
    flex-direction: column;
    margin: 120px;
    font-size: 1.4rem;
}

.info h1 {
    color: #fff;
}

.info span {
    color: #45ada8;
    padding: 10px 0px;
}

.barratoogle {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    position: fixed;
    margin-top: 70px;
    background-color: rgba(0,0,0,.9);
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    width: 100%;
    height: 300px;
}

.barratoogle a {
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    font-size: 1.3rem;
}

.menuoff {
    display: none;
}

.puxacima {
    transition: all 1s ease;
    margin-top: 100px;
}

.puxabaixo {
    transition: all 1s ease;
    margin-top: 70px;
}

.corfundotoogle {
    background-color: #000;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

@media (max-width: 640px) {
    .barra {
        display: none;
    }

    .icons {
        display: none;
    }

    .back img {
        width: 800px;
    }

    .info {
        font-size: 0.9rem;
        margin: 40px;
        margin-top: 120px;
    }

    .toogle {
        display: flex;
        text-decoration: none;
        color: #fff;
    }

    .toogle > a > i {
        width: 10px;
    }
}