main {
    grid-area: main;
}

.services {
    background-color: #2a363b;
}

.portifo {
    background-color: #2e2d3a;
}

.sobre {
    background-color: rgb(22, 22, 22);
}

.contato {
    background-color: #222;
    height: 450px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 200px;
}

.works, .porti-itens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contato-itens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.sobre-itens {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0px;
}

.works li {
    width: 400px;
    margin: 30px;
    list-style: none;
    text-align: center;
    color: #fff;
}

.porti-itens li {
    width: 600px;
    margin: 30px;
    list-style: none;
    text-align: center;
    color: #fff;
}

.contato-itens li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #fff;
}

.contato-itens a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 20px;
}

.contato-itens a:hover {
    color: rgb(106, 206, 252);
}

.contato-itens i {
    color: #fff;
    margin-right: 5px;
}

.porti-itens section {
    padding-bottom: 20px;
}

.porti-itens a {
    text-decoration: none;
    color: #fff;
}

.porti-itens a:hover {
    color: rgb(106, 206, 252);
}

.sobre-itens li {
    width: 600px;
    list-style: none;
    color: #fff;
    line-height: 2;
}

.container-imgs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #eee;
}

.container-imgs .web {
    padding: 20px;
    width: 200px;
    height: 120px;
}

.container-imgs .mob {
    padding: 20px;
    width: 200px;
    height: 300px;
}

.container-imgs .pdf {
    padding: 20px;
    width: 200px;
}

@media (max-width: 640px) {
    .sobre-itens img {
        width: 300px;
        height: 200px;
    }

    .sobre-itens li {
        width: 300px;
    }

    .contato-itens {
        font-size: 0.9rem;
        text-align: center;
    }
}